@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* 1. DEFINE THEME LOGIC */
:root,
[data-theme="tech"] {
    --background: #fdfdf8;
    --foreground: #181818;

    --current-header: var(--font-michroma);
    --current-body: var(--font-fira-mono);
    --current-decorative: var(--font-b612);
}

[data-theme="whimsical"] {
    --current-header: var(--font-lacquer);
    --current-body: var(--font-inter);
    --current-decorative: var(--font-mountains-of-christmas);
}

[data-theme="classic"] {
    --current-header: var(--font-times-new-roman);
    --current-body: var(--font-times-new-roman);
    --current-decorative: var(--font-times-new-roman);
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --font-header: var(--current-header);
    --font-body: var(--current-body);
    --font-decorative: var(--current-decorative);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--current-body);
}

h1,
h2,
h3,
h4 {
    font-family: var(--current-header);
}
